.all_links {
    display: flex;
    flex-wrap: wrap;
    margin-left: 5%;
    display: inline;
    display: flex;
    flex: 1;
  }
  .all_links a {
    text-decoration: none;
    flex: 1;
    margin-left: 10px;
    direction: none;
  
    font-size: 1.2rem;
    color: darkgrey;
  }
  .all_links a:hover {
    color: black;
  }
  
  .courses {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: space-around;
    margin-left: 5%;
    width: 90%;
    border: 1px gray solid;
    box-shadow: 0 2px 4px rgb(0 0 0 / 8%), 0 4px 12px rgb(0 0 0 / 8%);
    padding: 20px;
  }
  
  .courses_text {
    margin-left: 5%;
  }
  .explore
  {
    color: #1c1d1f;
   
    border: 1px solid #1c1d1f;
    height: 4rem;
    padding: 0.5rem 1.2rem;
    align-items: center;
    text-decoration: none;
    justify-content: center;
    cursor: pointer;
    font-weight: 600;
  }
  .explore button:hover{
   
      background-color: black;
      color: white;
  }

  
.make-gold{
  color: gold;
}  
.categories{
  margin-left: 5%;
  color: black;
}