.navbar {
    background-color: white;
    display: flex;
    flex: 1;
    align-items: center;
    width: 100%;
    height: 40%;
    
    
    box-shadow: 0 2px 4px rgb(0 0 0 / 8%), 0 4px 12px rgb(0 0 0 / 8%);
  }
  
.navbar div {
    margin-left: 0.5%;
    margin-right: 0.5%;
    
  }
  
  .navbar button:hover {
    background-color: gray;
  }
  .navbar a {
    text-decoration: none;
  }
  .bar-icon {
    display: none;
  }
  .navbar input {
    border: none;
    margin-left: 1%;
    flex: 1;
    outline: none;
    margin-top: 12px;
    font-size: 130%;
  }
  
  .out {
    text-decoration: none;
    color: black;
    padding: 0.5rem 1.2rem;
 
    cursor: pointer;
    font-size: 15px;
    border: 1px solid #1c1d1f;
    height: 2.5rem;
    font-weight: 600;
    background-color: black;
    color: white;
  }
  .log_in {
   
    text-decoration: none;
    color: black;
    padding: 0.5rem 1.2rem;
    
    cursor: pointer;
    font-size: 15px;
    border: 1px solid #1c1d1f;
    height: 2.5rem;
    font-weight: 600;
  }
  
  .navbar .search-container {
    display: flex;
    flex: 1;
    border: 1px solid black;
    border-radius: 20px;
    flex: 1;
    max-width: 70%;
    height: 50px;
    margin-top: 0.5%;
    margin-bottom: 0.5%;
  }
  .search-container form {
    display: flex;
    flex: 1;
  }
  #searchIcon {
    border: none;
    background-color: white;
    margin-top: 50%;
    margin-left: 10%;
  }
  .navbar .search-container i {
    font-size: 130%;
  }
  .link_Udemy {
    color: black;
  }
  .link_Udemy:hover {
    color: blue;
  }
  .earth {
    border: 1px gray solid;
    padding: 0.5%;
    height: 40px;
    align-items: center;
  }
  .earth:hover {
    background-color: gray;
  }
 .Categories_mobile{
  color: #1c1d1f;
 }
  @media (max-width: 1000px) {
    
    .bar-icon {
      display: block;
      font-size: 30px;
      margin-left: 20px;
      position: relative;
    }
    .navbar {
      display: flex;
      justify-content: space-between;
    }
    .active {
      margin-left: calc(100vw - 200px);
    }
    .mobile{
       display: none;
    }
    .navbar .search-container {
      display: none;
    }
    .Categories_mobile{
      display: none;
    }

  }